# Imports

In [2]:
import pickle
import pandas as pd
import numpy as np
import sklearn

# Load in data

In [3]:
#load in pickle data
data = None
with open('data\data.pickle', 'rb') as f:
    data = pickle.load(f)

In [8]:
# turn numerical scores into categorical scores
def score_to_cat(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

letter_grade = data.copy()
letter_grade['math score'] = letter_grade['math score'].apply(score_to_cat)
letter_grade['reading score'] = letter_grade['reading score'].apply(score_to_cat)
letter_grade['writing score'] = letter_grade['writing score'].apply(score_to_cat)

letter_grade

,test preparation course,math score,reading score,writing score,gender_female,gender_male,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard
0,True,D,D,D,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1
1,False,F,F,F,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0
2,False,F,D,F,0,1,0,0,0,0,1,0,0,0,0,1,0,1,0
3,False,C,C,D,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1
4,True,C,C,D,0,1,0,0,0,0,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,C,C,D,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1
996,True,B,A,A,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0
997,False,F,F,F,1,0,0,0,1,0,0,0,0,0,0,0,1,1,0
998,False,C,C,B,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1
999,True,D,D,D,0,1,1,0,0,0,0,0,0,0,0,1,0,0,1

# Create Models

## Linear Regression

In [11]:
#linear regression model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

#split data into train and test for math, reading, and writing
X = data.drop(['math score', 'reading score', 'writing score'], axis=1)
Y_math = data['math score']
Y_reading = data['reading score']
Y_writing = data['writing score']

In [13]:
# Math Model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y_math, test_size=0.2, random_state=42)
math_model = LinearRegression()
math_model.fit(X_train, Y_train)
print("Math Accuracy", math_model.score(X_test, Y_test))

# Reading Model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y_reading, test_size=0.2, random_state=42)
reading_model = LinearRegression()
reading_model.fit(X_train, Y_train)
print("Reading Accuracy", reading_model.score(X_test, Y_test))

# Writing Model
X_train, X_test, Y_train, Y_test = train_test_split(X, Y_writing, test_size=0.2, random_state=42)
writing_model = LinearRegression()
writing_model.fit(X_train, Y_train)
print("Writing Accuracy", writing_model.score(X_test, Y_test))

Math Accuracy 0.2819160781990685
Reading Accuracy 0.24206241503732195
Writing Accuracy 0.357614080500433

## Categorical Classification

In [19]:
#create decision tree model
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

X = data.drop(['math score', 'reading score', 'writing score'], axis=1)
Y_math = letter_grade['math score']
Y_reading = letter_grade['reading score']
Y_writing = letter_grade['writing score']


# Math Models

X_train, X_test, Y_train, Y_test = train_test_split(X, Y_math, test_size=0.2, random_state=42)
math_model = DecisionTreeClassifier()
math_model.fit(X_train, Y_train)
print("Math Accuracy (Decision Tree)", math_model.score(X_test, Y_test))

math_model = RandomForestClassifier()
math_model.fit(X_train, Y_train)
print("Math Accuracy (Random Forest)", math_model.score(X_test, Y_test))

math_model = AdaBoostClassifier()
math_model.fit(X_train, Y_train)
print("Math Accuracy (Ada Boost)", math_model.score(X_test, Y_test))


# Reading Models

X_train, X_test, Y_train, Y_test = train_test_split(X, Y_reading, test_size=0.2, random_state=42)
reading_model = DecisionTreeClassifier()
reading_model.fit(X_train, Y_train)
print("Reading Accuracy (Decision Tree)", reading_model.score(X_test, Y_test))

reading_model = RandomForestClassifier()
reading_model.fit(X_train, Y_train)
print("Reading Accuracy (Random Forest)", reading_model.score(X_test, Y_test))

reading_model = AdaBoostClassifier()
reading_model.fit(X_train, Y_train)
print("Reading Accuracy (Ada Boost)", reading_model.score(X_test, Y_test))


# Writing Models

X_train, X_test, Y_train, Y_test = train_test_split(X, Y_writing, test_size=0.2, random_state=42)
writing_model = DecisionTreeClassifier()
writing_model.fit(X_train, Y_train)
print("Writing Accuracy (Decision Tree)", writing_model.score(X_test, Y_test))

writing_model = RandomForestClassifier()
writing_model.fit(X_train, Y_train)
print("Writing Accuracy (Random Forest)", writing_model.score(X_test, Y_test))

writing_model = AdaBoostClassifier()
writing_model.fit(X_train, Y_train)
print("Writing Accuracy (Ada Boost)", writing_model.score(X_test, Y_test))

Math Accuracy (Decision Tree) 0.285
Math Accuracy (Random Forest) 0.33
Math Accuracy (Ada Boost) 0.34
Reading Accuracy (Decision Tree) 0.29
Reading Accuracy (Random Forest) 0.285
Reading Accuracy (Ada Boost) 0.34
Writing Accuracy (Decision Tree) 0.3
Writing Accuracy (Random Forest) 0.34
Writing Accuracy (Ada Boost) 0.385

# Evaluate data