## Data Exploration

In [19]:
# different imports

import pandas as pd
import numpy as np
from tabulate import tabulate

In [20]:
# reading csv file 

df = pd.read_csv('student_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 60 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1044 non-null   int64
 1   age                1044 non-null   float64
 2   Medu               1044 non-null   int64
 3   Fedu               1044 non-null   int64
 4   traveltime         1044 non-null   int64
 5   studytime          1044 non-null   int64
 6   failures           1044 non-null   int64
 7   famrel             1044 non-null   float64
 8   freetime           1044 non-null   float64
 9   goout              1044 non-null   float64
 10  Dalc               1044 non-null   int64
 11  Walc               1044 non-null   float64
 12  health             1044 non-null   float64
 13  absences           1044 non-null   float64
 14  G3                 1044 non-null   int64
 15  school_GP          1044 non-null   int64
 16  school_MS          1044 non-null   int64
 17  class_mat          1044 non-null   int64
 18  class_por          1044 non-null   int64
 19  sex_F              1044 non-null   int64
 20  sex_M              1044 non-null   int64
 21  address_R          1044 non-null   int64
 22  address_U          1044 non-null   int64
 23  famsize_GT3        1044 non-null   int64
 24  famsize_LE3        1044 non-null   int64
 25  Pstatus_A          1044 non-null   int64
 26  Pstatus_T          1044 non-null   int64
 27  Mjob_at_home       1044 non-null   int64
 28  Mjob_health        1044 non-null   int64
 29  Mjob_other         1044 non-null   int64
 30  Mjob_services      1044 non-null   int64
 31  Mjob_teacher       1044 non-null   int64
 32  Fjob_at_home       1044 non-null   int64
 33  Fjob_health        1044 non-null   int64
 34  Fjob_other         1044 non-null   int64
 35  Fjob_services      1044 non-null   int64
 36  Fjob_teacher       1044 non-null   int64
 37  reason_course      1044 non-null   int64
 38  reason_home        1044 non-null   int64
 39  reason_other       1044 non-null   int64
 40  reason_reputation  1044 non-null   int64
 41  guardian_father    1044 non-null   int64
 42  guardian_mother    1044 non-null   int64
 43  guardian_other     1044 non-null   int64
 44  schoolsup_no       1044 non-null   int64
 45  schoolsup_yes      1044 non-null   int64
 46  famsup_no          1044 non-null   int64
 47  famsup_yes         1044 non-null   int64
 48  paid_no            1044 non-null   int64
 49  paid_yes           1044 non-null   int64
 50  activities_no      1044 non-null   int64
 51  activities_yes     1044 non-null   int64
 52  nursery_no         1044 non-null   int64
 53  nursery_yes        1044 non-null   int64
 54  higher_no          1044 non-null   int64
 55  higher_yes         1044 non-null   int64
 56  internet_no        1044 non-null   int64
 57  internet_yes       1044 non-null   int64
 58  romantic_no        1044 non-null   int64
 59  romantic_yes       1044 non-null   int64
dtypes: float64(7), int64(53)
memory usage: 489.5 KB

In [21]:
# headers of features

#headers = ["test preparation course","math score","reading score","writing score", "gender","race/ethnicity","parental level of education",
#"lunch"]

In [22]:
# prints out the object feature test prep course and converts to boolean 

#printTrue = df['test preparation course'] = df['test preparation course'].replace(['completed'], True)
#printFalse = df['test preparation course'] = df['test preparation course'].replace(['none'], False)

In [23]:
#df['test preparation course'].astype('int8')

# drop ID
#df = df.iloc[: , 1:]

### One-Hot Encoded Data

In [24]:
# one-hot encoded data: gender, ethnicity, education, lunch

one_hot_encoded_data = pd.get_dummies(df, columns = ['school', 'class', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'reason', 'guardian', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic'])
print(tabulate(one_hot_encoded_data, headers = "keys", tablefmt='fancy_grid'))

KeyError: "None of [Index(['school', 'class', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob',\n       'Fjob', 'reason', 'guardian', 'paid', 'activities', 'nursery', 'higher',\n       'internet', 'romantic'],\n      dtype='object')] are in the [columns]"

### Missing Values and Outliers

### Normalization

In [ ]:
# normalize the code
from sklearn.preprocessing import MinMaxScaler

df_sklearn = df.copy()

columns = 'age'
df_sklearn[columns] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns]).reshape(-1,1))

columns2 = 'famrel'
df_sklearn[columns2] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns2]).reshape(-1,1))

columns3 = 'freetime'
df_sklearn[columns3] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns3]).reshape(-1,1))

columns4 = 'goout'
df_sklearn[columns4] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns4]).reshape(-1,1))

columns5 = 'Walc'
df_sklearn[columns5] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns5]).reshape(-1,1))

columns6 = 'health'
df_sklearn[columns6] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns6]).reshape(-1,1))

columns7 = 'absences'
df_sklearn[columns7] = MinMaxScaler().fit_transform(np.array(df_sklearn[columns7]).reshape(-1,1))

# view normalized data  
display(df_sklearn)

,school,class,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,GP,mat,F,0.428571,U,GT3,A,4,4,at_home,...,no,no,0.75,0.50,0.75,1,0.00,0.50,0.080000,6
1,GP,mat,F,0.285714,U,GT3,T,1,1,at_home,...,yes,no,1.00,0.50,0.50,1,0.00,0.50,0.053333,6
2,GP,mat,F,0.000000,U,LE3,T,1,1,at_home,...,yes,no,0.75,0.50,0.25,2,0.50,0.50,0.133333,10
3,GP,mat,F,0.000000,U,GT3,T,4,2,health,...,yes,yes,0.50,0.25,0.25,1,0.00,1.00,0.026667,15
4,GP,mat,F,0.142857,U,GT3,T,3,3,other,...,no,no,0.75,0.50,0.25,1,0.25,1.00,0.053333,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,por,F,0.571429,R,GT3,T,2,3,services,...,yes,no,1.00,0.75,0.25,1,0.25,1.00,0.053333,10
1040,MS,por,F,0.428571,U,LE3,T,3,1,teacher,...,yes,no,0.75,0.50,0.75,1,0.00,0.00,0.053333,16
1041,MS,por,F,0.428571,U,GT3,T,1,1,other,...,no,no,0.00,0.00,0.00,1,0.00,1.00,0.080000,9
1042,MS,por,M,0.285714,U,LE3,T,3,1,services,...,yes,no,0.25,0.75,1.00,3,0.75,0.25,0.080000,10
1043,MS,por,M,0.428571,R,LE3,T,3,2,services,...,yes,no,0.75,0.75,0.00,3,0.75,1.00,0.053333,11

In [ ]:
# turn categorical info into binary

binary1 = pd.get_dummies(df_sklearn)
binary1.to_csv('student_data.csv')

display (binary1)

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,0.428571,4,4,2,2,0,0.75,0.50,0.75,1,...,1,0,0,1,0,1,1,0,1,0
1,0.285714,1,1,1,2,0,1.00,0.50,0.50,1,...,1,0,1,0,0,1,0,1,1,0
2,0.000000,1,1,1,2,3,0.75,0.50,0.25,2,...,1,0,0,1,0,1,0,1,1,0
3,0.000000,4,2,1,3,0,0.50,0.25,0.25,1,...,0,1,0,1,0,1,0,1,0,1
4,0.142857,3,3,1,2,0,0.75,0.50,0.25,1,...,1,0,0,1,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,0.571429,2,3,1,3,1,1.00,0.75,0.25,1,...,0,1,1,0,0,1,0,1,1,0
1040,0.428571,3,1,1,2,0,0.75,0.50,0.75,1,...,1,0,0,1,0,1,0,1,1,0
1041,0.428571,1,1,2,2,0,0.00,0.00,0.00,1,...,0,1,0,1,0,1,1,0,1,0
1042,0.285714,3,1,2,1,0,0.25,0.75,1.00,3,...,1,0,1,0,0,1,0,1,1,0
1043,0.428571,3,2,3,1,0,0.75,0.75,0.00,3,...,1,0,1,0,0,1,0,1,1,0

### Transformations

### Data Quality Reports

### Selecting Features